 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

section {
    padding: 0 10px;
    width: 100%;
}

img {
    max-height: 300px;
    max-width: 100%;
}

p {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} 

button {
    margin-bottom: 5px;
}

/* .load {
    background-image: url(../../assets/0.jpg);
    background-size: contain;
} */
